<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/stuff" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="brand" placeholder="brand">
    <input type="text" name="description" placeholder="description">
    <input type="number" name="price" placeholder="price">
    <input type="file" name="image" placeholder="image">
    <input type="text" name="rent_condition" placeholder="rent_condition">
    <input type="number" name="rent_price" placeholder="rent_price">
    <input type="submit" value="Save">
</form>
</body>
</html>